name: Scala CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  actions: read
  security-events: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: 'sbt'

    # Instalar sbt de manera explícita con un paquete tgz
    - name: Install sbt
      run: |
        curl -L -o /tmp/sbt.tgz https://github.com/sbt/sbt/releases/download/v1.9.9/sbt-1.9.9.tgz
        sudo tar -xzf /tmp/sbt.tgz -C /usr/local
        echo "/usr/local/sbt/bin" >> $GITHUB_PATH

    # Comprobar que sbt está correctamente instalado
    - name: Check sbt Version
      run: sbt --version

    - name: Run clean
      run: sbt clean

    - name: Upload dependency graph
      uses: scalacenter/sbt-dependency-submission@ab086b50c947c9774b70f39fc7f6e20ca2706c91
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
